body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbarBack{
  height: 107px;
  background: #e86e2b;
}

.imgLogo{
  display: flex;
  width: 50%;
}

.box {
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 0 1rem #00000025 inset;
}

.grid-responsive {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%/3, max(64px, 100%/5)), 1fr));
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  gap: 1rem;
}

.contadorCarrito {
  position: relative;
  left: -310px;
  color: rgb(255, 255, 255);
}

.carritoFont {
  color: rgb(255, 255, 255);
}


img {
  width: 300px;
}

#sticky-sidebar {
  background-color: rgb(243, 243, 243);
}

.cardCarrito {
  height: 140px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(107, 107, 107);
  border-radius: 10px;
  max-width: 300px;
}

.divCartIcon {
  width: 50px;
  padding: 6px;
  color: white;
  border: 2px white solid;
  border-radius: 12px;
  background-color: rgb(49, 49, 49);
}

.divCartIcon:hover {
  background-color: rgb(107, 107, 107);
}

.cardProduct {
  border: thin solid #3c3c3c25;
  padding: 1rem;
}

.imgProduct {
  width: 100%;
  height: 65%;
}

.imgProductCart{
  width: 97%;
  height: 92%;
}

.titleProduct {
  font-size: 22px;
}

.priceProduct {
  font-size: 25px;
  font-weight: bold;
}

.btnAddCart {
  display: flex;
  position: relative;
}

.divProdCart{
  border: thin solid #3c3c3c25;
  padding: 1rem;
}

.continuarCompra{
  width: 80%;
  background-color: #e86e2b;
  color: #ffffff;
  font-weight: 600;
  font-size: large;
  border-radius: 50px;
  padding: 6px;
  border-style: unset;
}

.nameProductCart{
  font-size: 13px;
}

.btnMoreLessCart{
  border-style: none;
  border-radius: 10%;
  padding: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 3px;
  padding-left: 3px;
  width: 40px;
}

.btnMoreLessCart:hover{
  background-color: #44444425;
}

.text-total-cart{
  font-weight: bold;
}