@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
  margin: 0; /* Eliminar margen predeterminado */
}

.main{
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
  margin: 0;
}

.home{
  min-height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
  margin: 0;
}

.cardProduct {
  width: 12rem;
  height: 20rem !important;
}

.cardImg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}


.cardImagen {
  width: 160px;
  height: 160px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.card-title {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}


.menu {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  color: #f4f4f4;
  cursor: pointer;
}

.menu h4 {
  position: relative;
  top: 2px;
  padding-left: 4px;
}

.menu:hover {
  background-color: #494949;
  border-radius: 8px;
}


.menu-listado {
  position: absolute;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  color: #f0f0f0;
  top: 100%;
  /* position: absolute;
  background: #e5e5e5;
  color: #2e2e2e;
  top: 94px;
  left: -400px; */
  z-index: 999;
}

.menu-listado ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}


.menu-listado ul li {
  display: flex;
  width: 100%;
  text-align: start;
}

.menu-listado ul li a {
  font-size: 16px;
  padding: 10px;
  color: #f0f0f0;
  font-weight: 400;
  width: 100%;
  text-decoration: none;
}


.menu-listado ul li a:hover {
  color: #ffffff;
  background-color: #494949;
}


.navbar-brand .imgLogo {
  position: relative;
  width: 200px;
  left: -100px;
}




.hidden {
  display: none;
}


.divCartIcon {
  color: #f0f0f0;
  width: 70px;
  padding: 18px 0px;
  padding-left: 5px;
  display: flex;
  justify-content: center;
  position: relative;
  justify-items: center;
  right: 20px;
}

.divCartIcon svg {
  font-size: 28px;
}

.divCartIcon:hover {
  color: #ffffff;
  background-color: #494949;
  border-radius: 8px;
  cursor: pointer;
}

.divCartCount {
  font-size: 14px;
  padding: 1px 7px;
  border-radius: 50%;
  background-color: rgb(231, 21, 21);
  position: relative;
  top: 14px;
  right: 6px;
  width: 20px;
  height: 20px;
  display: flex;
  text-align: center;
  align-items: center;
}

.divCartCount label {
  position: relative;
  right: 1px;
}



.nav-bar-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-bar-cart {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.title-container {
  padding: 18px 38px;
  text-align: center;
}

.title-container h2 {
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.cart-empty-modal{
  padding: 100px 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}


.imgProductCart{
  width: 70px;
}

.modal-cart{
  padding: 10px 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 6rem;
}


.modal-cart .modal-cart-name{
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 12px;
}

.modal-cart .modal-cart-name p {
  margin: 0;
  line-height: 1.2; 
}

.modal-cart .modal-cart-price{
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  height: 100%;
}

.modal-cart .modal-cart-price p {
  margin: 0;
  line-height: 1.2; 
}

.modal-cart .modal-cart-less-more{

  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}


.modal-cart .modal-cart-less-more p{
  margin: 0;
  line-height: 1.2; 
}


.button-circle {
  background-color: #FF9800; 
  border: none;
  color: white;
  width: 26px;   
  height: 26px;
  border-radius: 20%; 
  font-size: 24px;    

  text-align: center;
  line-height: 30px;  
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.button-circle:hover {
  background-color: #e67300; 
}


.button-circle:active {
  background-color: #cc6600;
  transform: scale(0.95);   
}

.button-circle.plus::before {
  content: '+';
  position: relative;
  top: -2px; 
}

.button-circle.minus::before {
  content: '-';
  position: relative;
  top: -2px; 
}


.button {
  background-color: #FF9800; 
  color: white; 
  padding: 6px 10px; 
  font-size: 16px; 
  font-weight: bold;
  border: none; 
  border-radius: 8px; 
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.3s ease; 
}

.button:hover {
  background-color: #E67E22;
  transform: scale(1.05); 
}

.button:active {
  background-color: #D35400; 
  transform: scale(0.98); 
}

.button:focus {
  outline: 2px solid #FFA726; 
}


/* CATEGORIAS */
.categorias{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cat-image{
  border: 1px solid #e67d22b8;
  width: 14rem;
}

.footer {
  background-color: #343a40; /* Color de fondo del footer */
  color: white; /* Color del texto */
  text-align: center;
  padding: 10px 0; /* Espaciado interno */
  position: relative; /* Establece posición relativa */
  bottom: 0; /* Alinea al fondo */
  width: 100%; /* Ancho completo */
  position: relative;
}
